<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="FacebookConsumerKey" value="1487391948037174" />
    <add key="FacebookConsumerSecret" value="6914b5eaac8114edd6f5fdbbd1d2a4d1" />
  
    <add key="TwitterConsumerKey" value="sRWbOGBn9hFsMXM3qEGdkw" />
    <add key="TwitterConsumerSecret" value="4pH6D21XUvlMcrdqieVCe11sYIo7FLOX6Bb1PIU7ctQ" />
  </appSettings>

</configuration>
